:root {
    font-size: 60%;

    --color-background: #19191c;
    --color-primary-lighter: #9871F5;
    --color-primary-light: #916BEA;
    --color-primary: #8257E5;
    --color-primary-dark: #774DD6;
    --color-primary-darker: #6842C2;
    --color-secundary: #04D361;
    --color-secundary-dark: #04BF58;
    --color-title-in-primary: #FFFFFF;
    --color-text-in-primary: #D4C2FF;
    --color-text-title: #32264D;
    --color-text-complement: #9C98A6;
    --color-text-base: #6A6180;
    --color-line-in-white: #E6E6F0;
    --color-input-background: #F8F8FC;
    --color-button-text: #FFFFFF;
    --color-box-base: #FFFFFF;
    --color-box-footer: #FAFAFC;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100vh;
}

body {
    background: var(--color-background);
}

body, input, button, textarea {
    font: 500 1.6rem Poppins;
    color: var(--color-text-base);
}

#ethermine {
    font-size: 4rem;
    font-weight: 200;
    display: flex;
    align-items: center;
    justify-content: center !important;
    color: var(--color-title-in-primary);
}

.desc {
    font-size: 3rem;
    color: rosybrown;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: rosybrown;
}

#login {
    margin: 2rem;
    color: lightseagreen;
    border: 1px solid lightseagreen ;
    border-radius: 0.3rem;
    grid-template-columns: 4fr 4fr 4fr;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.boxed {
    margin: 1rem;
    color: lightseagreen;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-evenly;
}

.boxed label {
    margin: 1rem;
    color: lightseagreen;
    grid-auto-rows: auto;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-evenly;
}

.boxed input {
    margin: 1rem;
    color: gray;
    grid-auto-rows: auto;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-evenly;
}

#submit {
    color: darkblue;
    width: 20%;
}

.wallet {
    margin: 1rem;
    justify-content: center;
}

.server {
    color: var(--color-primary-lighter);
    display: flex;
    align-items: center;
    justify-content: center;
}

.miner, .hashrate, .reportedHashrate, .time {
    color: var(--color-text-complement);
    display: flex;
    margin-left: 3rem;
    align-items: center;
    justify-content: center;
}